* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: $font-stack;
}

h1,
h2,
h3 {
    font-family: $font-header;
}

.logo {
    font-family: $font-logo;
    color: $lightred;
    @media (min-width: $large-device) {
        font-size: 4.4em;
    }
    @media (min-width: $mediun-device) {
        font-size: 2.4em;
    }
}

.container {
    margin: 0 auto;
    padding: 25px 15px;
    @media (min-width: $large-device) {
        width: $container-max;
    }
}

a {
    color: $bluelink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
